{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-one-third">
        <div class="container">
            <h1 class="title pt-3 pb-3">
                {{user_data['username']}}
            </h1>
            <h2><b>Preferences</b></h2>
            <br>
            <h2>Favorite Shop</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['shop']}}</p>
                </div>
            </article>
            <h2>Favorite Milk Based Drink</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['milkTea']}}</p>
                </div>
            </article>
            <h2>Favorite Fruit Drink</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['fruitTea']}}</p>
                </div>
            </article>
            <h2>Go to Drink</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['goto']}}</p>
                </div>
            </article>
            <h2>Preferred Ice Level</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['iceLevel']}}</p>
                </div>
            </article>
            <h2>Preferred Sugar Level</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['sugar level']}}</p>
                </div>
            </article>
            <h2>Favorite Topping</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['topping']}}</p>
                </div>
            </article>
            <h2>Wants to Try</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>{{user_data['preferences']['shopToTry']}}</p>
                </div>
            </article>

        </div>
    </div>

    <div class="column">
        Profile Picture
        <figure class="image is-square">
            <img src="{{url_for('static', filename='anonymousFemaleIcon.png')}}" width="256", height="256">
        </figure>

        <article class="message is-warning">
            <div class="message-header">
                <p>{{user_data['header']}}</p>
            </div>
        </article>
        <div class="columns">
            <div class="column">
                <a href="{{url_for('feed', personId=user_data['nextId'])}}">
                    <button class="button is-medium is-success" >Interested</button>
                </a>
            </div>
            <div class="column">
                <a href="{{url_for('feed', personId=user_data['nextId'])}}">
                    <button class="button is-medium is-danger" href="{{url_for('feed', personId=user_data['nextId'])}}">Not Interested</button>
                </a>
            </div>
        </div>
    </div>
    <div class="column">

        <figure class="image is-4by5">
            <img src="{{url_for('static', filename= 'boba.png')}}">
        </figure>
        <figure class="image is-square">
            <img src="{{url_for('static', filename= 'boba_image.jpeg')}}">
        </figure>
    </div>
</div>
{% endblock %}