{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-one-third">
        <div class="container">
            <h1 class="title pt-3 pb-3">
                Person Name
            </h1>
            <h2>Preferences</h2>
            <article class="message is-warning">
                <div class="message-header">
                    <p>Cafe Roule</p>
                </div>
            </article>
            <article class="message is-warning">
                <div class="message-header">
                    <p>Oolong Milk Tea</p>
                </div>
            </article>
            <article class="message is-warning">
                <div class="message-header">
                    <p>Passion Fruit Green Tea</p>
                </div>
            </article>
            <article class="message is-warning">
                <div class="message-header">
                    <p>Passion Fruit Green Tea half sugar light ice</p>
                </div>
            </article>
            <article class="message is-warning">
                <div class="message-header">
                    <p>Light Ice</p>
                </div>
            </article>
            <article class="message is-warning">
                <div class="message-header">
                    <p>Half Sugar</p>
                </div>
            </article>

            <button class="button is-medium is-success">Interested</button>

        </div>
    </div>

    <div class="column">
        Profile Picture
        <figure class="image is-square">
            <img src="https://bulma.io/images/placeholders/256x256.png">
        </figure>

        <article class="message is-warning">
            <div class="message-header">
                <p>Boba is the key to my heart</p>
            </div>
        </article>
        15 miles away
    </div>
    <div class="column">

        <figure class="image is-4by5">
            <img src="{{url_for('static', filename= 'boba.png')}}">
        </figure>

        <button class="button is-medium is-danger">Not Interested</button>
    </div>
</div>
{% endblock %}