{% extends 'base.html' %}

{% block content %}
{% for user in users%}
<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            <img src="{{url_for('static', filename='anonymousFemaleIcon.png')}}">
        </p>
    </figure>

    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{user['username']}}</strong>
                <br>
                {{user['message1']}}
            </p>
        </div>
    </div>
    <div class="media-right">
        <div class="buttons" >
            <a class="button is-warning" href="{{url_for('messages', value=user['idValue'])}}">view message</a>
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}