{% extends 'base.html' %}

{% block content %}

<div class="columns">

    <div class="column is-full">

        <img src="https://bulma.io/images/placeholders/128x128.png">
        <h1 class="title is-1">Person A</h1>

        <div class="box has-background-warning is-justify-content-left">
            Hey let's get boba!
        </div>
        <div class="box has-background-warning-light justify-content: right">
            Sure!
        </div>
        <div class="box has-background-warning is-justify-content-left">
            Awesome! Does Saturday work?
        </div>
        <div class="box has-background-warning-light justify-content: right">
            Yea, sounds good!
        </div>
        <div class="box has-background-warning is-justify-content-left">
            Cool, see you then!
        </div>
    </div>
</div>
<input class="input is-warning is-medium" type="text" placeholder="Type here...">

{% endblock %}